on:
  push:
    tags:
      - 'v*'

name: Create Release

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        # quick way to fetch all commits so our changelog is generated correctly
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '14'

      - uses: olegtarasov/get-tag@v2.1
        id: tagName

      - name: Generate Release Notes
        run: npx auto-changelog --starting-version ${{ steps.tagName.outputs.tag }} --output RELEASE_NOTES.md

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          body_path: RELEASE_NOTES.md
          draft: false
          prerelease: false